{% extends "base.html" %}

{% block add %}
    <h1>Add data into the Infy Database</h1>

    <form method="POST" action="/insert">
        <label for="id">Enter Id</label>
        <input type="number" name="id" placeholder="id">

        <br><br>

        <label for="username">Enter Username</label>
        <input type="text" name="username" placeholder="username">

        <br><br>

        <label for="email">Enter Email</label>
        <input type="email" name="email" placeholder="email">

        <br><br>

        <button type="submit">Insert Data</button>
    </form>
{% endblock %}